*
!.gitignore

!/users
/users/*
!/users/default.png

!/anuncios
/anuncios/*
!/anuncios/default.png

!/settings
/settings/*
!/settings/default
!/settings/default/*
!/settings/default/anuncios
!/settings/default/anuncios/*
!/settings/default/users
!/settings/default/users/*